WEB_DB_NAME=passport_recognition   # Название БД для yii2
WEB_DB_USERNAME=root               # Имя пользователя БД
WEB_DB_PASSWORD=                   # Пароль от БД

WEB_USER_ADMIN_PASSWORD=           # Пароль от пользователя admin в web-приложении

ANALYSIS_DB_NAME=fio               # Название БД для сервиса анализа
ANALYSIS_DB_USERNAME=root          # Имя пользователя БД
ANALYSIS_DB_PASSWORD=              # Пароль от БД

QUEUE_SERVER_USERNAME=document-recognition-user   # Сервер очередей, имя пользователя
QUEUE_SERVER_PASSWORD=                            # Сервер очередей, пароль